html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Quicksand', sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}